@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.menu{
    background-color: #242021;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    color:#f3f2f2;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu ul li a:hover{
    background-color:#005176
}

.o-main h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    margin: 15px;
}

.o-main h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin: 25px 0px 5px 10px;
}

.o-main h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 30px 0px 0px 10px;
}

.o-main p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    padding: 10px;
}

/* Vídeo da página como_funciona */
.video-como-funciona {
    display: inline;
    width: 100%;
}

/* Início do accordion da página como_funciona */
.accordion .contentBx p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.accordion {
    display: absolute;
    justify-content: center;
    align-items: center;
    max-width: 800px;
}

.accordion .contentBx {
    position: absolute;
    top: 270px;
    left: 110px;
    margin: 10px 20px;
}

.accordion .contentBx .label {
    position: relative;
    display: inline-block;
    padding: 10px 312px;
    background: #FFD700;
    opacity: 87%;
    cursor: pointer;
    z-index:1000;
}

.accordion .contentBx .content {
    position: relative;
    text-align: justify;
    background: #FFD700;
    opacity: 87%;
    height: 0px;
    width: 1109px;
    padding: 0px 10px;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: hidden;
}

.accordion .contentBx.active .content {
    height: 240px;
    width: 1109px;
    padding: 0px 10px;
    overflow-y: hidden;
}

.accordion .contentBx.active .label .gif-como-funciona {
    display: none;
}

.titulo-como-funciona {
    display: inline;
    vertical-align: top;
    margin: 15px;
}

.gif-como-funciona {
    display: inline;
    position: absolute;
    width: 9%;
    top: -3px;
    left: 749px;
    transform: rotate(335deg);
}
/* Fim do accordion da página como_funciona */

/*CSS da página como_funciona */
.texto-pagina-como-funciona {
    margin: 10px;
    text-align: justify;
}

.o-main .lista-sistema-energia {
    margin: 15px 0px;
}

.o-main .lista-sistema-energia li {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 5px 27px;
    list-style-type: circle;
}

.o-main .lista-funcionamento-sistema {
    margin: 15px 0px;
}

.o-main .lista-funcionamento-sistema li {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    margin: 5px 27px;
    list-style-type: decimal;
}
/*CSS final da página como_funciona */

/*CSS começo pagina onde encontrar*/
.empresas{
    margin: 0;
    text-align: center;
}


.empresas a{
    background-color: #005176;
    color:#f3f2f2;
    padding: 20px;
    display: inline-block;
    text-decoration: none;  
    transition: background .4s;
    border-radius: 4%;
}
.empresas a:hover{
    color:#242021;
    background-color: #fff;
}

.empresas img{

    border-radius: 50%;
}
.empresas li{
    display: inline-block;
    padding: 50px;
}
/*CSS final da página onde encontrar*/
