@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,200;1,300&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.menu{
    background-color: #242021;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    color:#f3f2f2;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

.menu ul li a:hover{
    background-color:#005176
}

